@using System.Configuration
@using ASPNETIdentityWithOnion.Web.Models
@model IEnumerable<CategoryStoreViewModel>

<h2 class="title text-center">Categories</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="container-fluid">
            @foreach (var item in Model)
            {
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="imgbox thumb">
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
                           data-ajax-success="OnSuccessCat()" data-ajax-update="#subCategories"
                           href="@Url.Action("GetSubCut", new { area="", controller="Store", id = item.CatId })">
                        <div class="catimage embed-responsive" onmouseover="CatMOver(this)" onmouseout="CatMOut(this)">

                            <img class="img-responsive center-block" src='@Url.Content(ConfigurationManager.AppSettings["picPath"]
                                     .ToString() + "/Category/" + item.Path)' />
                            <label class="firsCatLabel">@item.Name.ToUpper()</label>                            
                        </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>