@using System.Configuration
@using ASPNETIdentityWithOnion.Web.Models
@model IEnumerable<SubCategoryViewModel>

<h2 class="title text-center">Sub Categories</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="container-fluid">        
                @foreach (var item in Model)
                {
                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <div class="subimgbox thumb">
                            <a href="@Url.Action("ProductList",
                                    new { area="",
                                        controller ="Product",
                                        subId = item.SubId,
                                        sortBy = 0,
                                        page = 1,
                                        pageSize = 8})">
                                <div class="subimage">
                                    <img class="img-responsive center-block" src='@Url.Content(ConfigurationManager.AppSettings["picPath"]
                                     .ToString() + "/Subcategory/" + item.Image)'>                                   
                                    <label class="SubfirsCatLabel sublablel">
                                        @item.Name.ToUpper()
                                    </label>
                                </div>
                            </a>
                                                    
                        </div>
                    </div>
                }         
        </div>

    </div>
</div>