@*@using ASPNETIdentityWithOnion.Web.Models
@using System.Configuration
@model HomeStoreViewModel*@

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="categories_items" id="categories" style="overflow: hidden;">

    @{ Html.RenderAction("GetCategories", "Store"); }
</div>
<br />
<!--Sub-Categories-->
<div class="subCategories_items hidden" id="subCategories" style="overflow: hidden;">
  
</div><!--/Sub-Categories-->
<!--Products-->
<div class="products_items hidden" id="products" style="overflow: hidden;">

</div><!--/Products-->

    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Features Items</h2>
       @{Html.RenderAction("FeaturesItems", "Store"); }
    </div><!--features_items-->


    <div class="recommended_items">
        <!--recommended_items-->
        <h2 class="title text-center">recommended items</h2>

        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{ Html.RenderAction("RecommendedItems", "Store");}
            </div>
            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div><!--/recommended_items-->

    @section scripts{
        <script type="text/javascript">
            $(function () {
                $('#recommended-item-carousel div.item:first-child').addClass('active');
            });                      
        </script>
    }
