@using ASPNETIdentityWithOnion.Web.Models
@model ASPNETIdentityWithOnion.Web.Models.LeftPanelViewModel

<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-products-->
        @foreach (var category in Model.Categories)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#@category.Name">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @category.Name
                        </a>
                    </h4>
                </div>
                <div id="@category.Name" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            @foreach (var subItem in category.SubCategories)
                            {
                               <li>@Html.RouteLink(subItem.Name, new
                                   {
                                       controller = "Product",
                                       action = "ProductList",
                                       subId = subItem.Id,
                                       sortBy = 0,
                                       page = 1,
                                       pageSize = 8
                                    })
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div><!--/category-products-->

    <div class="brands_products">
        <!--brands_products-->
        <h2>Brands</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#"> <span class="pull-right">(50)</span>Canon</a></li>
                <li><a href="#"> <span class="pull-right">(56)</span>Nikon</a></li>
                <li><a href="#"> <span class="pull-right">(27)</span>Sony</a></li>
                <li><a href="#"> <span class="pull-right">(32)</span>Fujifilm</a></li>
                <li><a href="#"> <span class="pull-right">(5)</span>Olympus</a></li>
                <li><a href="#"> <span class="pull-right">(9)</span>Kodak</a></li>
                <li><a href="#"> <span class="pull-right">(4)</span>Polaroid</a></li>
            </ul>
        </div>
    </div><!--/brands_products-->

    <!--price-range-->
    <!--<div class="price-range">
       
        <h2>Price Range</h2>
        <div class="well text-center">
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
        </div>
    </div>--><!--/price-range-->

    <div class="shipping text-center">
        <!--shipping-->        
        <img src="~/Images/shop/ffcc0239-5575-4a8c-a826-e33c1cf0794a.jpg" alt="" />
    </div><!--/shipping-->

</div>                