
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Nav tabs --><div class="card">
        <ul class="nav nav-justified nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">Categories</a>
            </li>
            <li role="presentation"><a href="#subCateg" aria-controls="subCateg" role="tab" data-toggle="tab">Sub Categories</a></li>
            <li role="presentation"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
            @*<li role="presentation"><a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">Roles</a></li>*@
            <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
            <li role="presentation"><a href="#customers" aria-controls="customers" role="tab" data-toggle="tab">Customers</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
         </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="categories">               
                @{Html.RenderAction("PartialIndex", new { area = "Admin", controller = "Category" }); }
            </div>
            <div role="tabpanel" class="tab-pane" id="subCateg">            
                @{Html.RenderAction("PartialIndex", new { area = "Admin", controller = "SubCategory" }); }
            </div>
            <div role="tabpanel" class="tab-pane" id="products">
                @{Html.RenderAction("PartialIndex", new { area = "Admin", controller = "Product" }); }
            </div>
            @*<div role="tabpanel" class="tab-pane" id="roles">
                @{Html.RenderAction("PartialIndex", new { area = "Admin", controller = "RolesAdmin" });}
            </div>*@
            <div role="tabpanel" class="tab-pane" id="users">
                @{Html.RenderAction("PartialIndex", new { area = "Admin", controller = "UsersAdmin" }); }
            </div>
            
            <div role="tabpanel" class="tab-pane" id="customers">
                @{Html.RenderAction("PartialIndex", new { area = "Admin", controller = "Customers" });}
            </div>
            <div role="tabpanel" class="tab-pane" id="settings"></div>
        </div>
    </div>

<style>
    #container-partial .modal.fade {
        left: -50%;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

        #container-partial .modal.fade.in {
            left: 50%;
        }

    /*#container .modal-body {
        max-height: 50%;
    }*/

    /*#article-editor {
        width: 600px;
        margin-left: -300px;
        margin-right: -300px;
    }*/
</style>
<div class="media-list" id="container-partial">
    <div class="modal fade" id="article-editor-partial">
        <div class="modal-dialog modal-sm" id="dialog-content-partial" role="document">

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            console.log("ready");
            $(".showItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialog-content-partial').html(data);
                    $('#article-editor-partial').modal('show');
                });
            });
        });
    </script>

}
