/*body{padding:0; font-size:13px;}
a, a:hover{color:#262626; outline:0}*/
/*.thumbnail img{ max-width:100%}
.thumbnail:hover{ border:1px solid #ddd}
.thumbnail h4{line-height:42px}
hr.soften {margin: 8px 0 4px; background:#ddd;}*/
/*#featured img{max-height:160px;}*/
#featured,#featured .span3{margin-bottom:0}
#featured .carousel-control {background:none; color:#002A80; border-color:#002A80;}
.form-horizontal.qtyFrm .control-label{text-align: left;}
.form-horizontal.qtyFrm .control-label span{font-size:18px}
.moreOptopm.carousel .item img{padding:2px; border:1px solid #ddd}
.moreOptopm.carousel .item img:hover{ border:1px solid pink}
.thumbnail {background:#fff; position:relative;border: 1px solid #eee;}
.carousel {
    line-height: 1;
}
.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50);
}
.thumbnails {
    list-style: none;
}
.thumbnail {background:#fff; position:relative;border: 1px solid #eee;}
.moreOptopm.carousel .item img{padding:2px; border:1px solid #ddd}
.moreOptopm.carousel .item img:hover{ border:1px solid pink}
/* ------------------------------------------------------------------------ */
.navbar-inner {
background-color: #3A3F44;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52575C), color-stop(70%, #3A3F44), to(#3A3F44));
background-image: -webkit-linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
background-image: -moz-linear-gradient(top, #52575C, #3A3F44 70%, #3A3F44);
background-image: -o-linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
background-image: linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
background-repeat: no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52575c', endColorstr='#ff3a3f44', GradientType=0);
border: 1px solid transparent;
-webkit-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
-moz-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
}
