

@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center title">Complete</h2>

<div class="register-req">
    <div class="alert alert-success returnToHome">
        <strong>Thank you for your order, our manager will contact you to continue shopping! </strong>    
    </div>
    <a class="btn btn-default update" href="/Store/Index">Continue Shipping</a>
</div>